@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 40px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    margin-right: 20px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

header {
    font-family: 'Montserrat';
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.546);
    height: 100px;
}

header li {
    margin-top: 40px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 60px;
    align-items: center;
    gap: 50px;
}

header a {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 500;
}

header a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -9px;
    background-color: rgb(17, 17, 17);
    transition: width 0.3s ease-in-out;
}

header a:hover::after {
    width: 100%;
}

.nav-links a.active::after {
    width: 100%;
}

.first {
    min-height: 100vh;
    background: linear-gradient(115deg, #dedcdcbe 50%, rgba(134, 0, 134, 0.802) 50%);
    padding-top: 20px;
}

.content {
    font-family: "Bungee Spice Static";
    margin-left: 30px;
    font-weight: 800;
}

.text {
    max-width: 650px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 18px;
}

.btn-1,
.btn-2 {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 10px 10px;
    width: 150px;
    justify-content: center;
    height: 40px;
    color: white;
    background-color: rgba(128, 0, 128, 0.543);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-2 {
    margin-left: 20px;
}

.btn-1:hover {
    transform: scale(1.02);
    background-color: white;
    color: rgba(128, 0, 128, 0.543);
}

.btn-2:hover {
    transform: scale(1.02);
    background-color: white;
    color: rgba(128, 0, 128, 0.543);
}

.page-2 {
    min-height: 100vh;
    position: relative;
}

.about {
    border: 1px solid;
    height: 90vh;
    margin-top: 60px;
    margin-right: 60px;
    box-shadow: 0 10px 20px rgba(134, 0, 134, 0.802);
    border-radius: 20px;
    margin-left: 60px;
    font-family: "";
    font-weight: 800;
}

.text-1 {
    position: relative;
    top: 40px;
    width: 650px;
}

.text-1 h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    transform: translateX(600px);
    margin-bottom: 70px;
}

.text-1 h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    transform: translateX(650px);
    margin-bottom: 40px;
}

.text-1 h3 {
    font-family: 'Special Gothic Expanded One';
    transform: translateX(650px);
    font-weight: 1;
}

.page-3 {
    height: 100vh;
    overflow: hidden;
}

.portfolio h1 {
    font-family: 'Montserrat';
    transform: translateX(650px);
    margin-bottom: 50px;
}

.portfolio h3 {
    font-family: 'montserrat';
    margin: 30px;
    transform: translateX(150px);
}

.test,
.test-1 {
    max-width: 800px;
    height: 400px;
    border-radius: 20px;
    /* margin: 30px; */
    box-shadow: 0 5px 10px;
    margin: 0 auto;
    transition: all 0.3s ease-out;
}

.test-1:hover {
    transform: scale(1.02);
}

.test:hover {
    transform: scale(1.02);
}

.test-3 {
    display: flex;
}

.page-4 {
    height: 100vh;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.page-4 h2 {
    font-weight: 700;
}

.page-4 h1 {
    font-family: 'montserrat';
    transform: translateX(530px);
    margin-top: 40px;
    margin-bottom: 70px;
}

.fas {
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease-out;
}

.fas:hover {
    transform: scale(1.2);
}

#left {
    margin: 20px;
    margin-left: 700px;
}

.test {
    display: block;
}

.test-1 {
    display: none;
}

.test.clicked {
    display: none;
}

.test-1.click {
    display: block;
}

.page-5 {
    height: 101vh;
    margin-left: 30px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-5 h1 {
    font-family: 'montserrat';
    transform: translateX(650px);
    margin-bottom: 70px;
    font-weight: 800;
}

.first-grid {
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(134, 0, 134, 0.802);
    border-radius: 14px;
    padding: 20px;
    max-height: 600px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-grid:hover {
    transform: scale(1.02);
}

.amt {
    font-weight: 600;
    font-family: 'montserrat';
    margin-left: 30px;
    color: rgba(128, 0, 128, 0.584);
}

.w {
    margin-right: 10px;
}

#btn-3 {
    margin-left: 120px;
}

.second-grid {
    max-width: 405px;
    transition: translateX(700px);
    box-shadow: 0 4px 8px rgba(134, 0, 134, 0.802);
    border-radius: 14px;
    padding: 20px;
    max-height: 600px;
    margin-left: 30px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-4 {
    margin-top: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 10px 10px;
    width: 150px;
    justify-content: center;
    height: 40px;
    color: white;
    background-color: rgba(128, 0, 128, 0.543);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-4:hover {
    transform: scale(1.02);
    background-color: white;
    color: rgba(128, 0, 128, 0.543);
}

.second-grid:hover {
    transform: scale(1.02);
}

.grid {
    display: flex;
}

.third-gird {
    max-width: 400px;
    transition: translateX(750px);
    box-shadow: 0 4px 8px rgba(134, 0, 134, 0.802);
    border-radius: 14px;
    padding: 20px;
    max-height: 600px;
    margin-left: 30px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.third-gird:hover {
    transform: scale(1.02);
}

.third-gird h2 {
    font-weight: 700;
}

.third-gird label {
    font-weight: 700;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.third-gird input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.second-grid .h3 {
    border: 1px solid;
    padding: 10px;
    background-color: rgba(128, 0, 128, 0.743);
    color: white;
    width: 190px;
    overflow: hidden;
    justify-content: center;
    padding-left: 80px;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: -48px;
    transform: rotate(40deg);
}

#btn-4 {
    margin-left: 120px;
}

.btn-5 {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 10px 10px;
    width: 150px;
    justify-content: center;
    height: 40px;
    color: white;
    background-color: rgba(128, 0, 128, 0.543);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-5:hover {
    transform: scale(1.02);
    background-color: white;
    color: rgba(128, 0, 128, 0.543);
}

.page-6 {
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-6 h1 {
    font-family: 'montserrat';
    transform: translateX(650px);
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 10px 20px rgba(128, 0, 128, 0.543);
    max-width: 70px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 90px;
}

.emoji {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.emoji:hover {
    transform: scale(1.02);
    color: rgba(128, 0, 128, 0.584);
}

.information {
    box-shadow: 0 10px 20px rgba(128, 0, 128, 0.543);
    width: 1100px;
    padding: 20px;
    height: 530px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 30px;
}

.inputs {
    transform: translateX(180px);
    margin-top: 20px;
}

.contact {
    display: flex;
}

.contact input {
    width: 700px;
    padding: 13px;
    border-radius: 10px;
}

.contact-info {
    font-size: 18px;
}

a {
    color: white;
}

a:hover {
    color: rgba(128, 0, 128, 0.756);
}

#btn-6 {
    transform: translateX(450px);
}

footer {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (max-width: 600px) {

    section {
        scroll-margin-top: 90px;
    }

    header {
        padding: 10px 0;
    }

    .hamburger {
        display: flex;
        margin: 20px;
        justify-content: flex-end;
    }

    header ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        background: rgb(180, 0, 174);
        padding: 20px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: flex-start;
    }

    header ul.active {
        display: flex;
    }

    a:hover{
        color: white;
    }
    
    .first {
        min-height: 80vh;
        padding-top: 100px;
        background: linear-gradient(110deg, #dedcdcbe 50%, rgba(134, 0, 134, 0.802) 50%);
    }

    .content {
        margin-left: 10px;
        font-size: 22px;
        text-align: center;
    }

    .text {
        margin-top: 60px;
        font-size: 16px;
        padding: 0 15px;
        text-align: center;
    }

    .btn-1,
    .btn-2 {
        width: 120px;
        font-size: 16px;
        height: 36px;
    }

    .btn-2 {
        margin-left: 20px;
        margin-top: -50px;
    }

    .page-2 .about {
        margin: 20px;
        height: auto;
        padding: 10px;
    }

    .text-1 {
        width: 100%;
        top: 10px;
        text-align: center;
    }

    .portfolio .test,
    .test-1 {
        width: 90%;
        margin-left: 20px;
    }

    #left {
        margin-left: 200px;
    }

    .text-1 h1,
    .text-1 h2,
    .text-1 h3 {
        transform: none;
        margin: 15px 0;
    }

    .page-4 {
        margin: none;
        min-height: 130vh;
    }

    .page-4 h1 {
        transform: none;
        margin-left: 10px;
    }

    .page-5 {
        min-height: 300vh;
        margin-top: 40px;
    }

    .page-5 h1 {
        transform: none;
        text-align: center;
        margin-top: 80px;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }

    .first-grid,
    .second-grid,
    .third-gird {
        max-width: 80%;
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
    }

    .second-grid .h3 {
        margin-left: 110px;
    }

    .page-6 {
        min-height: 130vh;
        margin-top: 50px;
    }

    .page-6 .container {
        max-width: 100%;
        margin-right: 85px;
        flex-direction: row;
        gap: 40px;
    }

    .page-6 h1 {
        transform: none;
        margin-left: 120px;
    }

    .information {
        width: 80%;
        max-height: 700px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .inputs {
        transform: none;
        margin-top: 10px;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }

    .contact input {
        width: 90%;
    }

    #btn-6 {
        transform: none;
        padding: 10px;
        width: 50%;
        font-size: 18px;
        margin-left: 40px;
        display: block;
    }

    footer {
        text-align: center;
        padding: 10px;
    }
}

