@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 40px;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    margin-right: 20px;
}

header {
    font-family: 'Montserrat';
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.546);
    height: 100px;
}

header li {
    margin-top: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 60px;
    align-items: center;
    gap: 50px;
}

.close {
    display: none;
}

header a {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 500;
}

header a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -9px;
    background-color: rgb(17, 17, 17);
    transition: width 0.3s ease-in-out;
}

.first {
    background: #ffffff;
    color: #111827;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    overflow: hidden;
}

.content {
    margin-left: 30px;
    font-weight: 800;
}

.text .h1 {
    display: flex;
}

.text .h2 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 2s steps(22) infinite alternate,
        blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.first .text {
    margin-right: 5px;
    margin-top: 150px;
    font-size: 18px;
}

.first .text .h3 {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn-1,
.btn-2 {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    justify-content: center;
    height: 40px;
    background-color: #10b981;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-2 {
    margin-left: 20px;
}

.btn-1:hover {
    transform: scale(1.02);
    background-color: #10b981c1;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 8px #10b98178;
}

.btn-2:hover {
    transform: scale(1.02);
    background-color: #10b981c1;
    color: white;
    box-shadow: 0 8px 8px #10b981;
}

.page-2 {
    position: relative;
    margin-bottom: 60px;
}

.about {
    border: 1px solid;
    margin-top: 60px;
    margin-right: 60px;
    box-shadow: 0 10px 20px #10b9817b;
    border-radius: 20px;
    padding: 20px;
    font-weight: 800;
    margin-left: 60px;
}

.text-1 {
    position: relative;
    top: 40px;
    padding: 50px;
}

.text-1 h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.text-1 h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 50px;
}

.text-1 h3 {
    font-family: 'Special Gothic Expanded One';
    font-weight: 1;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.page-3 {
    overflow: hidden;
    margin-bottom: 40px;
}

.portfolio h1 {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio h3 {
    font-family: 'montserrat';
    margin: 30px;
    display: flex;
    margin-left: 450px;
}

.test-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.test,
.test-1 {
    max-width: 700px;
    height: 400px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    margin-bottom: 20px;
}

.leftright {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    cursor: pointer;
}

.test-1:hover {
    transform: scale(1.02);
}

.test:hover {
    transform: scale(1.02);
}

.newPro {
    margin-top: 20px;
    background-color: white;
}

.project {
    display: flex;
}

.projects,
.projects-1 {
    border: 2px solid;
    margin-top: 20px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    overflow: hidden;
}

.projects-1 {
    margin-left: 20px;
}

.heading1 {
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
}

.grey {
    min-width: 360px;
    max-height: 240px;
    background-color: gray;
    margin: 20px;
}

.projects .btn-comin {
    transform: translateY(150px);
    margin-left: 120px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #10b9817b;
    border: none;
}

.projects-1 .btn-comin {
    transform: translateY(150px);
    margin-left: 120px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #10b9817b;
    border: none;
}

.grey h2 {
    font-family: "Bitcount Single Ink", sans-serif;
    color: transparent;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    margin-left: 80px;
    text-shadow: 0 0 2px white;
    margin-top: 100px;
    animation: typing 2s steps(22) infinite alternate,
        blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.page-4 {
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin-bottom: 60px;
}

.page-4 h2 {
    font-weight: 700;
}

.page-4 h1 {
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.fas {
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease-out;
}

.fas:hover {
    transform: scale(1.2);
}

.test {
    display: block;
}

.test-1 {
    display: none;
}

.test.clicked {
    display: none;
}

.test-1.click {
    display: block;
}

.page-5 {
    margin-left: 30px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-5 h1 {
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-weight: 800;
}

.first-grid {
    max-width: 400px;
    box-shadow: 0 4px 8px #0000008f;
    border-radius: 14px;
    padding: 20px;
    min-height: 600px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.amt {
    font-weight: 600;
    font-family: 'montserrat';
    margin-left: 30px;
    color: #10b981f0;
}

.w {
    margin-right: 10px;
}

#btn-3 {
    margin-left: 120px;
}

.second-grid {
    position: relative;
    max-width: 405px;
    box-shadow: 0 4px 15px #10b981;
    border-radius: 14px;
    padding: 20px;
    min-height: 70%;
    margin-left: 30px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-4 {
    margin-top: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 10px 10px;
    width: 150px;
    justify-content: center;
    height: 40px;
    color: white;
    background-color: #10b9817b;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-4:hover {
    transform: scale(1.02);
    background-color: white;
    color: #10b9817b;
}

.grid {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

.third-gird {
    max-width: 400px;
    box-shadow: 0 4px 8px #000000ad;
    border-radius: 14px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.third-gird:hover {
    transform: scale(1.02);
}

.third-gird h2 {
    font-weight: 700;
}

.third-gird label {
    font-weight: 700;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.third-gird input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.second-grid .h3 {
    position: absolute;
    top: 10px;
    right: -45px;
    background: #10b981;
    color: white;
    padding: 5px 0;
    width: 140px;
    padding-left: 30px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

#btn-4 {
    display: flex;
    margin: auto;
}

.btn-5 {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 10px 10px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #10b981;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn-5:hover {
    transform: scale(1.02);
    background-color: #10b9817b;
    color: #ffffff;
    box-shadow: 0px 2px 4px #10b98154;
}

.page-6 {
    margin-bottom: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-6 h1 {
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 8px 8px #10b9817b;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
}

.emoji {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.emoji:hover {
    transform: scale(1.02);
    color: #10b9817b;
}

.information {
    box-shadow: 0 6px 8px #10b981d6;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    margin-top: 60px;
}

.inputs {
    margin-top: 10px;
}

.contact {
    display: flex;
}

.contact input {
    width: 90%;
    padding: 13px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.contact-info {
    font-size: 18px;
}

a {
    color: white;
}

a:hover {
    color: #10b981d6;
}

#btn-6 {
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 40px;
    background-color: #10b981;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: block;
    margin: 20px auto 0;
    text-align: center;
}

#btn-6:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px #10b9817b;
}

footer {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 900px) {

    .portfolio h3 {
        margin: 0px;
        margin-left: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .third-gird {
        margin-right: 20px;
    }

    .project {
        display: flex;
        flex-direction: column;
    }

    .projects,
    .projects-1 {
        margin-left: 20px;
    }

    .second-grid .h3 {
        top: 8px;
        right: -40px;
        width: 140px;
        padding: 8px 0;
        font-size: 14px;
        padding-left: 20px;
    }
}

@media (max-width: 600px) {

    section {
        scroll-margin-top: 90px;
        overflow: hidden;
    }

    .menu {
        display: flex;
        align-items: flex-end;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 18px;
    }

    .close {
        font-size: 20px;
        display: none;
    }

    .close:hover {
        color: black;
    }

    header ul {
        display: none;
        flex-direction: column;
        background-color: #10b981;
        position: absolute;
        border-radius: 20px;
        top: 30px;
        width: 100%;
        font-size: 20px;
        text-align: right;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    header a:hover {
        color: black;
    }

    .ul.show {
        display: flex;
    }

    .text .h2 {
        font-size: 20px;
        overflow: hidden;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        border-right: 1px solid;
    }

    .first {
        overflow: hidden;
        margin-bottom: 40px;
    }

    .text h1 {
        display: flex;
        align-items: center;
    }

    .content {
        margin-left: 10px;
        font-size: 22px;
    }

    .projects {
        margin-right: 10px;
        margin-left: 10px;
    }

    .buttons {
        margin-bottom: 40px;
        margin-left: 10px;
    }

    .text {
        margin-top: 60px;
        font-size: 16px;
        padding: 0 15px;
    }

    .page-2 {
        margin-bottom: 50px;
    }

    .page-2 .about {
        margin: 10px;
        height: auto;
        padding: 10px;
    }

    .text-1 {
        top: 10px;
        text-align: center;
    }

    .text-1 h3 {
        width: auto;
        margin-right: 20px;
    }

    .page-3 {
        margin-bottom: 20px;
    }

    .portfolio .test,
    .test-1 {
        width: 90%;
        margin: auto;
        margin-right: 30px;
        margin-left: 30px;
    }

    .test:hover {
        transform: none;
    }

    .test-1:hover {
        transform: none;
    }

    .portfolio h1 {
        transform: none;
        display: flex;
        justify-content: center;
    }

    .portfolio h3 {
        margin: 0px;
        margin-left: 30px;
        display: flex;
        justify-content: flex-start;
    }

    .projects,
    .projects-1 {
        min-width: 300px;
        margin-left: 12px;
        margin-right: 10px;
    }

    .grey {
        min-width: 260px;
    }

    .projects .btn-comin {
        margin-left: 80px;
    }

    .projects-1 .btn-comin {
        margin-left: 80px;
    }

    .text-1 h1,
    .text-1 h2,
    .text-1 h3 {
        transform: none;
        margin: 0;
    }

    .page-4 {
        margin: none;
        margin-bottom: 40px;
    }

    .page-4 h1 {
        transform: none;
        display: flex;
        justify-content: center;
    }

    .page-5 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .page-5 h1 {
        transform: none;
        text-align: center;
        margin-top: 80px;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }

    .first-grid,
    .second-grid,
    .third-gird {
        max-width: 80%;
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
    }

    .second-grid .h3 {
        top: 8px;
        right: -35px;
        width: 120px;
        font-size: 12px;
    }

    .page-6 {
        margin-bottom: 30px;
    }

    .page-6 .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-direction: row;
    }

    .page-6 h1 {
        transform: none;
        display: flex;
        justify-content: center;
    }

    .information {
        width: 80%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .inputs {
        transform: none;
        margin-top: 10px;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }

    .contact input {
        width: 90%;
    }

    #btn-6 {
        transform: none;
        padding: 10px;
        font-size: 18px;
        display: block;
    }

    footer {
        text-align: center;
        padding: 10px;
    }
}
